<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Dinnerbell Web Application</display-name>
  <servlet>
    <servlet-name>GetMealsServlet</servlet-name>
    <servlet-class>com.dinnerbell.webapp.GetMealsServlet</servlet-class>
    <init-param>
      <param-name>sleep-time-in-seconds</param-name>
      <param-value>10</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>MealsDetailServlet</servlet-name>
    <servlet-class>com.dinnerbell.webapp.MealsDetailServlet</servlet-class>
    <init-param>
      <param-name>sleep-time-in-seconds</param-name>
      <param-value>10</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.dinnerbell.webapp.UserServlet</servlet-class>
    <init-param>
      <param-name>sleep-time-in-seconds</param-name>
      <param-value>10</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>FavMealsServlet</servlet-name>
    <servlet-class>com.dinnerbell.webapp.FavMealsServlet</servlet-class>
    <init-param>
      <param-name>sleep-time-in-seconds</param-name>
      <param-value>10</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>RateMealServlet</servlet-name>
    <servlet-class>com.dinnerbell.webapp.RateMealServlet</servlet-class>
    <init-param>
      <param-name>sleep-time-in-seconds</param-name>
      <param-value>10</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PictureMealServlet</servlet-name>
    <servlet-class>com.dinnerbell.webapp.PictureMealServlet</servlet-class>
    <init-param>
      <param-name>sleep-time-in-seconds</param-name>
      <param-value>10</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CommentMealServlet</servlet-name>
    <servlet-class>com.dinnerbell.webapp.CommentMealServlet</servlet-class>
    <init-param>
      <param-name>sleep-time-in-seconds</param-name>
      <param-value>10</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>UserPic</servlet-name>
    <servlet-class>com.dinnerbell.webapp.UserPic</servlet-class>
    <init-param>
      <param-name>sleep-time-in-seconds</param-name>
      <param-value>10</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>BookMealServlet</servlet-name>
    <servlet-class>com.dinnerbell.webapp.BookMealServlet</servlet-class>
    <init-param>
      <param-name>sleep-time-in-seconds</param-name>
      <param-value>10</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  
  
  <servlet-mapping>
    <servlet-name>GetMealsServlet</servlet-name>
    <url-pattern>/GetMealsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MealsDetailServlet</servlet-name>
    <url-pattern>/GetMealsDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/DinnerbellUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FavMealsServlet</servlet-name>
    <url-pattern>/FavMeals</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RateMealServlet</servlet-name>
    <url-pattern>/RateMeal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PictureMealServlet</servlet-name>
    <url-pattern>/PictureMeal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentMealServlet</servlet-name>
    <url-pattern>/CommentMeal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserPic</servlet-name>
    <url-pattern>/UserPic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookMealServlet</servlet-name>
    <url-pattern>/BookMeal</url-pattern>
  </servlet-mapping>
  <resource-ref>
  <description>Connection Pool</description>
  <res-ref-name>jdbc/xe</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>Container</res-auth>
</resource-ref>
</web-app>